@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,500&display=swap');

*{
    box-sizing: border-box;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color:#000000;
}

body {
    position: relative;
}

/* GLOBAL CSS */
#obj-width {
    max-width: 1200px;
    margin: auto;
}

/* NAV */

li, a, button {
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #ffffff;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10%;
    border-bottom: 2px solid #9c4be7;
}

.logo {
    max-width: 10%;
    cursor: pointer;
}

.nav-links {
    list-style: none;
}

.nav-links li {
    display: inline-block;
    padding: 0 20px;
}

.nav-links li a {
    transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
    color: #9c4be7
}

#search-input {
    max-width: 400px;
    padding: 9px 25px;
    border: none;
    border-radius: 5px;
    background-color: #ffffff;
    color: #000000;
}

#search-btn button {
    background-color: rgba(156,75,231,1 );
    padding: 9px 25px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    margin-left: 10px;
}

/* MAIN */

.excer-search-container {
    padding: 3rem 0;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
}

.excer-card {
    width: 280px;
    border: 1px solid #9c4be7;
    border-radius: 10px;
    cursor: pointer;
    padding: 1rem;
    margin: 10px;
}

.excer-card:hover {
    box-shadow: 4px 4px 10px rgba(255, 255, 255, 0.3);
}

.excer-card img {
    width: 100%;
    height: 280px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom:  1rem;
}

.excer-card h2 {
    color: #ffffff;
    text-transform: uppercase;
}

.excer-card p {
    color: #ffffff;
    padding: 0.7rem;
} 